extends ../layout

block content
    h1=serie.nombre
    div(class='row')
        div(class='col-xs-12 col-md-4 col-lg-3 serie-detail')
            img(src=serie.image, class='img-responsive')
            hr
            dl
                dt Fecha de Estreno
                dd #{serie.fechaEstreno}

                dt ¿Está en emisíon?
                dd
                    if serie.enEmision
                        span(class="label label-success") En emision
                    else
                        span(class="label label-danger") Finalizada
                dt Género
                dd #{serie.genero}



        div(class='col-xs-12 col-md-6 col-lg-8 col-lg-offset-1 serie-detail')
            div(class='row')
                a(href='/temporadas/create/' + serie.serieID)
                    i(class="fa fa-3x fa-plus-circle" aria-hidden="true")
            div(class='top-space')
                table(id='tablaTemporadas' class='table table-responsive tablaTemporadas')
                    thead(class="text-info")
                        tr
                            th Temporada
                            th Capítulos
                            th Estado
                            th Valor
                            th Opciones
                    tbody
                        for temporada in serie.temporadas
                            tr
                                td Temporada #{temporada.numero}
                                td 1
                                td
                                    if temporada.enEmision
                                        span(class="label label-success") En emision
                                    else
                                        span(class="label label-danger") Finalizada
                                td #{temporada.valor}
                                td
                                    div(class='options')
                                        a(href='/temporadas/details/' + temporada.temporadaID data-toggle="tooltip" data-placement="top" title="Detalles")
                                            i(class="fa fa-2x fa-info-circle")
                                        a(href="#" data-toggle="tooltip" data-placement="top" title="Editar")
                                            i(class='fa fa-2x fa-edit')
                                        a(href="#"  data-toggle="tooltip" data-placement="top" title="Eliminar")
                                            i(class="fa fa-2x fa-trash")


        div(class='col-xs-12 options')
            a(href='/series/edit/' +serie.serieID ) Editar
            a(href="/series/Delete/" + serie.serieID) Eliminar
            a(href='/series') Volver a la lista

