extends ../layout

block content
    h4 Editar Temporada #{temporada.numero}
    p #{temporada.serie.nombre}
    hr
    div(class='col-xs-12 col-md-8 col-md-offset-4 col-lg-6 col-lg-offset-3')
        //form(id = 'formEdit' action="javascript:void(0);")
        form(id = 'formEdit' action="/temporadas/edit/" + temporada.temporadaID + "?_method=PUT"  method='POST')
            div(class="form-group")
                input(class="form-control" id="serieID" name="serieID" value=temporada.serieID type='hidden')

            div(class="form-group")
                label(for="numero") Número
                input(class="form-control" id="numero" name="numero" value=temporada.numero placeholder="Número" required)

            div(class="form-group")
                label(for="fechaEstreno") Fecha Estreno
                input(class="form-control" id="fechaEstreno" name="fechaEstreno" value=temporada.fechaEstreno placeholder="Fecha de Estreno" type="date" required)

            div(class="form-group")
                label(for="checkbox1") En Emision
                input( id="checkbox1" name="enEmision" type="checkbox" checked=true)

            div(class="form-group")
                label(for="valor") Valor
                input(class="form-control" id="valor" name="valor" value=temporada.valor placeholder="Valor" required)

            div(class="form-group form-options")
                input(type="submit" value="Guardar" class="btn btn-primary" id='btn-edit')
                a(class='btn btn-default' href='/temporadas/details/' + temporada.temporadaID) Cancelar

